<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
		<link rel="stylesheet" href="/theme.css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

		
	</head>

	<body>
 
		<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/">Dennis Bootstrap</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-family: monospace;">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item active"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item"><a class="nav-link" href="/htmlDemo">HTML-Demo</a></li>
					<li class="nav-item "><a class="nav-link" href="/students/add">Add Student</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/students" target="_blank">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas" target="_blank">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses" target="_blank">Courses</a></li>
				</ul>
			</div>
		</nav> -->

		<div class="container">
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
	

					<div class="w3-container about-me-container">
						<div class="w3-card-4 w3-dark-grey" style="width:50%; margin-left: 13em; ">
						  <div class="w3-container w3-center">
							<h2>About me</h2>
							<img src="https://www.w3schools.com/w3css/img_avatar3.png" alt="Avatar" style="width:80%">

							<p style="text-align: left;">
								<strong>Name:</strong> Dennis Castro<br>
								<strong>School:</strong> Seneca College<br>
								<strong>Program:</strong> Business Information Technology<br>
							</p>
							<div class="contact-info">
								<p style="text-align: left;">
									<span class="contact-label"><i class="fa fa-mobile"></i> Mobile Number:</span> +1 (437)-439-1234<br>
									<span class="contact-label"><i class="fa fa-envelope"></i> Email:</span> dcastro15@myseneca.ca<br>
									<span class="contact-label"><i class="fa fa-map-marker"></i> Location:</span> Toronto, M5N 2E2<br>
								</p>
							</div>
					
						  </div>
					  
						</div>
					  </div>
					

					
					
					
					<!-- End your code here  -->



				</main>
			</div>
		</div>

		<footer class="footer">
			<div class="container">
			  <span class="navbar-text">
				&copy; 2023 Dens Website. All rights reserved.
			  </span>
			</div>
		  </footer>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	</body>
</html>